*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
}

.left{
    background-color: rgb(0, 0, 0);
    width: 35vw;
    /* height: 700px; */
}
.home{
    margin: 5px;
}

.home ul li{
    align-items: center;
    font-family: "spotify 7", CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
    font-weight: 700;
    font-size: 16px;
    gap: 16px;
    display: flex;
    width: 25px;
    color: white;
    padding: 20px;
    list-style: none;
    padding-top:14px ;
}
.right{
    font-family: "spotify 3", CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
    margin: 3px 4px;
    padding: 3px;
    background-color: #121212;
    width: 80vw;
    /* height: 700px; */
}

.heading{
    align-items: center;
    padding: 20px;
    font-size: 10px;
    font-family:  "spotify 3", CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
    display: flex;
    gap: 16px;
    width: 156px;
    padding-top: 15px;
    font-weight: bold;
}
.heading img{
    width: 25px;
}
.library{
    position: relative;
    min-height: 60vh;
}
.footer{
    flex-wrap: wrap;
    display: flex;
    font-size: 10px;
    gap: 13px;
    bottom: 0;
    position: absolute;
}
.footer a {
    color: grey;
}
.header{
    background-color: rgb(30, 30, 30);
    justify-content: space-between;
    display: flex;
}
.header>*{
    padding: 20px;
}
.spotify-playlist{
    padding: 16px;
}
.spotify-playlist .card{
    position: relative;
    padding: 10px;
    margin: 2px;
    background-color: rgb(34, 34, 34);
    width: 160px;
    font-weight: 600;
    padding: 13px;
}
.CardContainer{
    margin: 20px;
    padding: 15px 1px 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}
.card>*{
    padding-top: 3px;
}
.card img{
    width: 100%;
    object-fit: contain;
}
.play{

    position: absolute;
    top: 113px;
    right: 21px;
}
.Buttoninner .IconWrapper{
    box-shadow:0px 0px 8px 0px black;
    bottom: 14px;
    display: block;
    width: 41px;
    height: 41px;
    padding: 5px;
    border-radius: 9999px;
    background-color: #3be477;

}
.Buttoninner .IconWrapper svg{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding:10.6px;
    height: 20px;
}