*{
    margin: 0;
    padding: 0;
}

body{

    background-color: black;
    color: white;
}
.container{
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.left{
    background-color: rgb(0, 0, 0);
    width: 22vw;
    height: 100%;
}

.close{
    display: none;
}
.close:hover{
    width: 35px;
}

.home{
    margin: 5px;
}

.home ul li{
    align-items: center;
    font-family: "spotify 7", CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
    font-weight: 700;
    font-size: 16px;
    gap: 16px;
    display: flex;
    width: 25px;
    color: white;
    padding: 20px;
    list-style: none;
    padding-top:14px ;
}
.right{
    position: relative;
    font-family: "spotify 3", CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
    margin: 3px 4px;
    padding: 3px;
    background-color: #121212;
    width: 76.09vw;
    height: 700px;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}


.heading{
    align-items: center;
    padding: 20px;
    font-size: 10px;
    font-family:  "spotify 3", "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
    display: flex;
    gap: 16px;
    width: 156px;
    padding-top: 15px;
    font-weight: bold;
}
.heading img{
    width: 25px;
}
.library{
    position: relative;
    min-height: 65vh;
}
.footer{
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    margin:10px ;
    position: absolute;
    bottom: 0;
    padding: 20px 2px;
}
.footer  a {
    color: grey;
}
.header{
    background-color: rgb(15, 15, 15);
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 70px;
}
.header>*{
    padding: 17px;
}

.ham{
    cursor: pointer;
   display: none;
   padding-right: 13px;
}
.ham:hover{
    width: 34px;
}

.spotify-playlist{
    padding: 16px;
    max-height: 50vh;
}
.spotify-playlist .card{
    cursor: pointer;
    position: relative;
    padding: 10px;
    margin: 2px;
    border-radius: 12px;
    background-color: rgb(29, 29, 29);
    width: 133px;
    font-weight: bolder;
    padding: 13px;
}
.card:hover{
    background-color: rgb(35, 35, 35);
}
.CardContainer{
    width: 100%;
    margin: 22px 2px;
    padding: 11px 0px 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    max-height: 70vh;
    overflow-y: auto
}
.infocont{
    text-wrap: wrap;
    height: 61px;
    align-content: center;

}
.card h2{
    font-size:20px;
}
.card p{
    padding-top:9px ;
    font-size: 13px;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    background-color: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(56, 56, 56);
    /* border-radius: 5px; */
}

.card>*{
    padding-top: 5px;
}
.card img{
    border-radius: 10px;
    width: 100%;
    object-fit: contain;
}
.card:hover img{
    box-shadow: 0px 5px 5px 0px black;
}
.playy{
    cursor: pointer;
    transition: all 0.25s ease-out;
    opacity: 0;
    position: absolute;
    top: 130px;
    right: 19px;
}
.playy:hover .IconWrapper{
    background-color: #3be477;
}
.card:hover .playy{
    top: 99px;
    opacity: 1;
}
.Buttoninner .IconWrapper{
    box-shadow:0px 0px 8px 0px black;
    bottom: 14px;
    display: block;
    width: 33px;
    height: 33px;
    padding: 5px;
    border-radius: 9999px;
    background-color: #2fb85f;

}
.Buttoninner .IconWrapper svg{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding:6.5px;
    height: 20px;
}
/* .buttons{
    display: flex;
    height: 71px;
    gap: 70px;
    width: 231px;
   align-content: center;
   align-items: center;
   justify-content: center
} */
.buttons>*{
    margin: 0 12px;
}

.signup{
   font-size: 16px;
   cursor: pointer;
   border: none;
   color: #a7a7a7;
   outline: none;
   background-color: transparent;
   font-weight: 600;

}
.signup:hover{
    color: #e1e1e1;
    font-size: 16.5px;
}
.login{
    background-color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 14px;
    border: solid white;
    border-radius:25px ;
    width: 90px;
    padding: 10px;
    cursor: pointer;
}
.login:hover{
    padding: 11px;
    width: 93px;
    font-size: 14.5px;
} 
.playbar{
    height: 40px;
    margin-left: 100px;
    position: fixed;
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    bottom: 5px;
    border: 2px solid transparent;
    border-radius: 13px;
    background-color: rgba(161, 161, 161, 0.838);
    width: 38vw;
    padding: 12px;
}
.songbuttons{
    margin-right: -13px;
    justify-content: center;
    gap: 20px;
    padding-bottom: 10px;
    display: flex;
}
.songbuttons img{
    width: 17px;
    cursor: pointer;

}
.songbuttons #play{
    width: 60px;
}
.songlist{
    /* margin: 12px 0; */
    margin-bottom: 31px;
    display: block;
    height: 365px;
    overflow: auto;
}
.songlist ul{
    font-family: "spotify 3";
    font-size: 13px;
    padding: 7px 0px;
}
.songlist ul li {
    margin: 11px;
    border: 1px solid white;
    justify-content: space-between;
    align-items: center;
    list-style-type: decimal;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 5px 0;
    padding: 8px;
    border-radius: 7px;
}
.info{
    width: 100px;
    font-size: 14px;
}
.playnow{
    cursor: pointer;
    gap: 7px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playnow span{
    font-size: 14px;
    width: 88px;
    padding:2px;
}
.seekbar{
    cursor: pointer;
    height: 3.5px;
    background-color: #e1e1e1;
    width: 60%;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    position: absolute;
    bottom: 9px;
}

.circle{
    position: relative;
    width: 11px;
    height: 11px;
    background-color: rgb(255, 255, 255);
    border-radius: 9999px;
    bottom: 4px;
    transition: left 0.5s ;
}
.abovebar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.songinfo{
    width: 149px;
    cursor: pointer;
}
.songtime{
    width: 65px;
}
.songtime,.songinfo{
    font-size: 15px;
    font-family: "spotify 7";
    color: white;
    padding: 0px 22px;
}
.range input{
    width: 85px;
}
.timevol{
  
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.timevol .songtime{
    font-size: 14px;
}
.volume{
    width: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 9px;
    justify-content: center;
}
.range input{
    cursor: pointer;
    /* accent-color: rgb(39, 226, 110); */
}